<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestionlocationnew">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gestloca"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".register"></activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mes_location" />
        <activity android:name=".reparation" />
        <activity android:name=".Ajoute_vidange" />
        <activity android:name=".ajouter_assurance" />
        <activity android:name=".historique_sinistre" />
        <activity android:name=".Ajoute_vihicule" />
        <activity android:name=".entretiens" />
        <activity android:name=".assurances" />
        <activity android:name=".calendrier" />
        <activity android:name=".Login"></activity>
        <activity android:name=".mes_clients" />
        <activity
            android:name=".mes_recettes"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mes_charges" />
        <activity android:name=".vehicules" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>